# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node
node_modules
package-lock.json
/dist/
/ui.apps/src/main/content/jcr_root/apps/lead2loyalityclientlibs/
*.projects
*.classpath
*.prefs
