<sly class="cmp-text-image" data-sly-use.placeholder="core/wcm/components/commons/v1/templates.html"
    data-cmp-is="text-image">
</sly>
<sly data-sly-call="${placeholder.placeholder @ isEmpty=!properties.title}"></sly>
<article class="image-text app-js-image-text ${properties.alignment} ${properties.background}" 
data-sly-use.pictureAtom="xpatoms/components/atoms/images/picture/picture.html"
data-sly-use.ctaButtonAtom="xpatoms/components/atoms/buttons/cta-button/cta-button.html"
data-sly-use.btnIconAtom="xpatoms/components/atoms/buttons/btn-icon/btn-icon.html">
    <div class="image-text__image">
        <a href="${properties.linkHref}" tabindex="0">
			<sly data-sly-call="${pictureAtom.picture @ imgSrc=properties.fileReference, imgAlt=properties.imgAlt}"></sly>
        </a>
    </div>
    <div class="image-text_content-wrapper {{modifier}}">
        <div class="image-text__content">
		 <h1> ${properties.title}</h1>
	        ${properties.description @context='html'}
			<sly data-sly-call="${ctaButtonAtom.btnIcon @ linkHref=properties.ctaLinkHref, linkTarget=properties.ctaLinkClass, linkTitle=properties.ctaLinkText}"></sly>
        </div>
        <div class="image-text__cta">
			 <sly data-sly-call="${btnIconAtom.btnIcon @ linkHref=properties.linkHref, linkTarget=properties.linkTarget, linkTitle=properties.linkTitle, iconSrc=properties.iconSrc, iconAlt=properties.iconAlt}"></sly>
        </div>
    </div> 
</article>