<sly class="cmp-hero-banner" data-sly-use.placeholder="core/wcm/components/commons/v1/templates.html"
    data-cmp-is="hero-banner" data-sly-use.heroBannerModel="${'com.xperience.aem.xpatoms.core.models.HeroBannerModel'}">
</sly>
<sly data-sly-call="${placeholder.placeholder @ isEmpty=!heroBannerModel.title}"></sly>
<article class="hero-banner" 
data-sly-use.pictureAtom="xpatoms/components/atoms/images/picture/picture.html"
data-sly-use.btnIconAtom="xpatoms/components/atoms/buttons/btn-icon/btn-icon.html">
    <div class="hero-banner__image">
		<sly data-sly-call="${pictureAtom.picture @ imgSrc=heroBannerModel.fileReference, imgAlt=heroBannerModel.imgAlt}"></sly>
    </div>
    <div class="hero-banner__content-wrapper">
	    <div class="hero-banner__content">
	        <h1> ${heroBannerModel.title}</h1>
	        ${heroBannerModel.description @context='html'}
	    </div>
	     <div class="hero-banner__-cta">
	          <sly data-sly-call="${btnIconAtom.btnIcon @ linkHref=heroBannerModel.linkHref, linkTarget=heroBannerModel.linkTarget, linkTitle=heroBannerModel.linkTitle, iconSrc=heroBannerModel.iconSrc, iconAlt=heroBannerModel.iconAlt}"></sly>
	    </div>
    </div>
</article>