<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ ADOBE CONFIDENTIAL
  ~ ___________________
  ~ Copyright 2015 Adobe Systems Incorporated
  ~ All Rights Reserved.
  ~
  ~ NOTICE:  All information contained herein is, and remains
  ~ the property of Adobe Systems Incorporated and its suppliers,
  ~ if any.  The intellectual and technical concepts contained
  ~ herein are proprietary to Adobe Systems Incorporated and its
  ~ suppliers and are protected by all applicable intellectual property
  ~ laws, including trade secret and copyright laws.
  ~ Dissemination of this information or reproduction of this material
  ~ is strictly forbidden unless prior written permission is obtained
  ~ from Adobe Systems Incorporated.
  */-->
<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"/>
<sly data-sly-use.form="com.adobe.aemds.guide.common.AEMForm"/>
<sly data-sly-test.af="${form.isAdaptiveForm || form.isMCDocument}">
    <sly data-sly-use.form="com.adobe.aemds.guide.common.AdaptiveForm"/>
</sly>
<sly data-sly-test="${form.IsPlaceholderVisible}">
    <sly data-sly-call="${clientLib.all @ categories='aemform.authoring.common'}"/>
    <div class="aemformcontainer no-form-selected">
        ${'You need to select a Form from the Dialog' @ i18n, locale=request.locale}
    </div>
</sly>
<div class="aemformcontainer" data-sly-test.af="${form.isAdaptiveForm || form.isMCDocument}"
     data-form-page-path="${form.formEditPagePath}"
     data-sly-use.adaptiveform="com.adobe.aemds.guide.common.AdaptiveForm"
     data-sly-use.guideConstants="com.adobe.aemds.guide.utils.GuideConstants">
    <sly data-sly-call="${clientLib.css @ categories=['guide.core.common']}"/>
    <sly data-sly-test.isParentWCMModeDisabled="${wcmmode.disabled}"/>
    <sly data-sly-test.isWCMModePreview="${wcmmode.preview}"/>
    <sly data-sly-use="${'formcontainer.js' @ wcmmode=isWCMModePreview ? 'preview' : 'disabled', themeOverride=adaptiveform.themePath, pageFallbackClientlib=guideConstants.THEME_DEFAULT_CLIENTLIB, parentWcmModeDisabled=isParentWCMModeDisabled}" data-sly-resource="${ @ path=adaptiveform.formPagePath, wcmmode=isWCMModePreview ? 'preview' : 'disabled'}" />
    <sly data-sly-call="${clientLib.css @ categories=[adaptiveform.cssClientlib]}"/>
</div>