.mle--image img {

    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.mle--responsive-image .atm--picture {
    -webkit-filter: drop-shadow(0 0.25rem 1rem rgba(0, 0, 0, .1));
    filter: drop-shadow(0 0.25rem 1rem rgba(0, 0, 0, .1));
    border-radius: 0.5rem;

}

.mle--image {
    padding: 24px 10px;
}
