@mixin mobile {
    $breakpoint-mobile: 600px;

    @media only screen and (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin desktop {
    $breakpoint-desktop: 601px;

    @media only screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin largeDesktop {
    $breakpoint-large-desktop: 1153px;

    @media only screen and (min-width: $breakpoint-large-desktop) {
        @content;
    }
}

@mixin tablet {
    $breakpoint-mobile: 601px;
    $breakpoint-tablet: 900px;

    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
        @content;
    }
}